/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --font-family: "Inter-Variable", sans-serif;
  --accent-font-family: "Press Start 2P", fantasy;
  --font-size: 18px;
  --accent-color: #000000;
  --animation-contour-color: var(--accent-color);
  --animation-fill-color: #ff0000;
  --dialog-font-size: 14px;
  --title-font-weight: 700;
  --text-font-weight: 400;
  --header-font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --text-font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --bg-img: repeating-linear-gradient(
      to right,
      #d3d3d3 0px 2px,
      #d3d3d300 2px 4px
    ),
    repeating-linear-gradient(to bottom, #d3d3d3 0px 2px, #d3d3d300 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
  --bg-color: #ffffff;
  --btn-color: var(--bg-color);
}
